<!DOCTYPE html>
<html>
<head>
    <title>Productos (Admin)</title>
</head>
<body>
    <h1>Productos (Admin)</h1>
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Local</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto[0] }}</td>
                <td>{{ producto[1] }}</td>
                <td>{{ producto[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/admin/agregar_producto">Agregar Producto</a> |
    <a href="/admin/locales">Locales</a> |
    <a href="/dashboard">Panel de Control</a>
</body>
</html>